<a href="https://colab.research.google.com/github/MoistMaster64/UFV-Visualizacion/blob/main/Ejercicio_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [21]:
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/datos_ejercicio_ventas.csv')
df.head()

,COUNTRY,SUBBRAND,YEAR,MONTH,SCENARIO,FORECAST,FORECAST_YEAR,AMOUNT
0,Portugal,Lipton (L3),2023,12,AI_forecast,AI_P02F,2023.0,754356.237194
1,Great Britain,Lipton (L3),2023,12,AI_forecast,AI_P10F,2023.0,560030.558029
2,Spain,Pepsi Max (L3),2023,12,AI_forecast,AI_P09F,2023.0,88501.980847
3,Great Britain,7up (L3),2024,12,AI_forecast,AI_P10F,2023.0,363224.511516
4,Hungary,Lipton (L3),2023,9,AI_forecast,AI_P03F,2023.0,396176.120491

In [22]:
# Drop rows where 'FORECAST_YEAR' or 'FORECAST_MONTH' are NaN
df_clean = df.dropna(subset=['FORECAST_YEAR', 'FORECAST'])

1) Número de Actuals y Ai_Forecasts en la columna SCENARIO.

In [23]:
unique_values = df['SCENARIO'].value_counts()

In [24]:
print(unique_values)

SCENARIO
AI_forecast    17766
actual           900
Name: count, dtype: int64

2) Horizonce de predicción.

In [25]:


# Hacemos un
forecast_map = {
    'AI_P02F': 1, 'AI_P03F': 2, 'AI_P04F': 3, 'AI_P05F': 4,
    'AI_P06F': 5, 'AI_P07F': 6, 'AI_P08F': 7, 'AI_P09F': 8,
    'AI_P10F': 9, 'AI_P11F': 10, 'AI_P12F': 11, 'AI_PF': 12
}

# Add a new column to the DataFrame for the forecast month
df['FORECAST_MONTH'] = df['FORECAST'].map(forecast_map)

# Function to calculate the difference in months between forecast and data date
def calculate_month_diff(row):
    forecast_year = row['FORECAST_YEAR']
    forecast_month = row['FORECAST_MONTH']
    data_year = row['YEAR']
    data_month = row['MONTH']

    # Calculate the total months for both dates
    forecast_total_months = forecast_year * 12 + forecast_month
    data_total_months = data_year * 12 + data_month

    # Calculate the difference in months
    return data_total_months - forecast_total_months

# Apply the function to calculate the month difference for each row
df['MONTH_DIFF'] = df.apply(calculate_month_diff, axis=1)

# Find the maximum difference per country
max_diff_per_country = df.groupby('COUNTRY')['MONTH_DIFF'].max().reset_index()

# Display the result
print(max_diff_per_country)

         COUNTRY  MONTH_DIFF
0          Czech        18.0
1        Denmark        18.0
2  Great Britain        18.0
3        Hungary        18.0
4          Italy        18.0
5    Netherlands        18.0
6         Norway        18.0
7       Portugal        18.0
8          Spain        18.0

3)Número de paises y de Productos

In [26]:
paises = df['COUNTRY'].unique()
num_paises = len(paises)
print(paises)
print("Número de paises: " + str(num_paises))

['Portugal' 'Great Britain' 'Spain' 'Hungary' 'Norway' 'Denmark'
 'Netherlands' 'Italy' 'Czech']
Número de paises: 9

In [27]:
marcas = df['SUBBRAND'].unique()
num_marcas = len(marcas)
print(marcas)
print("Número de marcas: " + str(num_marcas))

['Lipton (L3)' 'Pepsi Max (L3)' '7up (L3)' 'Pepsi Regular (L3)'
 'Mountain Dew (L3)' '7up Free (L3)']
Número de marcas: 6

4)Histórico de actuals/forecasts

In [28]:
print(df.head())

         COUNTRY        SUBBRAND  YEAR  MONTH     SCENARIO FORECAST  \
0       Portugal     Lipton (L3)  2023     12  AI_forecast  AI_P02F
1  Great Britain     Lipton (L3)  2023     12  AI_forecast  AI_P10F
2          Spain  Pepsi Max (L3)  2023     12  AI_forecast  AI_P09F
3  Great Britain        7up (L3)  2024     12  AI_forecast  AI_P10F
4        Hungary     Lipton (L3)  2023      9  AI_forecast  AI_P03F

   FORECAST_YEAR         AMOUNT  FORECAST_MONTH  MONTH_DIFF
0         2023.0  754356.237194             1.0        11.0
1         2023.0  560030.558029             9.0         3.0
2         2023.0   88501.980847             8.0         4.0
3         2023.0  363224.511516             9.0        15.0
4         2023.0  396176.120491             2.0         7.0

5) Forecasts distintos

In [ ]:
unique_values = df['SCENARIO'].value_counts()